<h2>Here's a small test for curious one</h2>
@{
    string[] numberOfRightAnswers = new string[] { " is 33%", "are 66%", "are 100%" };
}
@{
    string[] fruitOrVegetable = new string[] { "Tomatoes", "Sweet peppers", "Eggplants", "Cucumbers" };
}
@using AspMvcEpamTask.Helpers
<h3>Depends on how many correct answers you have</h3>
@Html.CreateList(numberOfRightAnswers, true)
<h3>What color a banana can be </h3>
@using (Html.BeginForm())
{
    @Html.CheckBox("bananaColorCheckbox", new { id = "ColorBrow", value = "brown" })
    <span>brown</span><br />
    @Html.CheckBox("bananaColorCheckbox", new { id = "ColorGreen", value = "green" })
    <span>green</span><br />
    @Html.CheckBox("bananaColorCheckbox", new { id = "ColorBlue", value = "blue" })
    <span>blue</span><br />
    @Html.CheckBox("bananaColorCheckbox", new { id = "ColorPurple", value = "purple" })
    <span>purple</span>
    <br />
    <h3>How much fat does banana contains</h3>

    @Html.RadioButton("bananaFatRadiobutton", "1gr")
    <span>1 gr</span><br />
    @Html.RadioButton("bananaFatRadiobutton", "2gr")
    <span>2 gr</span><br />
    @Html.RadioButton("bananaFatRadiobutton", "0.3gr")
    <span>0.3 gr</span>
    <br />
    <h3>How many vegetables do we have in this list?</h3>
    @Html.CreateList(fruitOrVegetable, false)

    @Html.RadioButton("fruitOrVegetableRadiobutton", "zero")
    <span>zero</span><br />
    @Html.RadioButton("fruitOrVegetableRadiobutton", "one")
    <span>one</span><br />
    @Html.RadioButton("fruitOrVegetableRadiobutton", "two")
    <span>two</span><br />
    @Html.RadioButton("fruitOrVegetableRadiobutton", "three")
    <span>three</span><br />
    @Html.RadioButton("fruitOrVegetableRadiobutton", "four")
    <span>four</span>
    <br />
    <br />

    <input type="submit" value="Grade Me">
    <input type="reset" value="Clear">
}
